In [1]:
print("hello world")

hello world

In [2]:
len("pw slills")

9

In [3]:
type(5)

int

In [1]:
# here print ,len ,type are predefined function 
# some more built_in function 
# ceil is a pre defined function ->>> it gives the nearest highest whole no value 
import math as m # here as is alice 
m.ceil(2.2)

3

In [2]:
m. floor(8.6) # floor means nearest lowest whole number

8

In [3]:
m.pow(2,3)

8.0

In [4]:
# user define function

In [9]:
#syntax
# def function_name:
    # body
# function is a block of code that perform some specific task 
# why function ?
# function are reuseable,neat ,clean and organised and it saves the time 
# ex:
def greeting():
    print("welcome to adamas")

In [10]:
greeting()

welcome to adamas

In [15]:
def greeting(name): # passing a variable inside a function means parameter or positional argument 
    print("welcome to adamas",name)

In [16]:
greeting("niki")# here also you have to pass the value

welcome to adamas niki

In [17]:
greeting("Kalyan")

welcome to adamas Kalyan

In [18]:
# if you did not give the value then it gives the error 
# error is missing the positional argument "name" value means 
# ex:
greeting()

TypeError: greeting() missing 1 required positional argument: 'name'

In [19]:
def greeting(ajay): # passing a variable inside a function ,here ajay works as a veriable 
    print("welcome to adamas",ajay)

In [20]:
greeting("love")

welcome to adamas love

In [22]:
# another ex:
def func():
    print("this is my first function ")
func()

this is my first function

In [23]:
"this is my first function " + "in python "

'this is my first function in python '

In [24]:
# if we concatenate func and string then error 
func()+  "in python " # here error because function is none type data types and another is str type

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [25]:
# ex :
def func():
    return "this is my first function "
func() + "in Python" # now no error because when we printing the statements this time if we notice we can see that print statement is in 'NoneType' and another is str type but this case both are str type

'this is my first function in Python'

In [26]:
# returning many thing 
def func():
     return "this is my first function ",1,2.3,True,3+4j  
   # here all are returned inside a tuple 
func()

('this is my first function ', 1, 2.3, True, (3+4j))

In [27]:
a=func()
type(a)

tuple

In [28]:
b,c,d,e,f=func()

In [29]:
b

'this is my first function '

In [30]:
c

1

In [31]:
d

2.3

In [32]:
e

True

In [33]:
f

(3+4j)

In [34]:
# another way of this 
a=func()
a[0]

'this is my first function '

In [35]:
a[1]

1

In [36]:
a[2]

2.3

In [37]:
a[3]

True

In [38]:
a[4]

(3+4j)

In [39]:
 # ex
def fun():
    cal=5+5*5-5
    return cal
fun()

25

In [41]:
type(fun())

int

In [42]:
def square(a):
    return a*a

In [43]:
square(5)

25

In [1]:
 def funct(args):
     return args*args

In [2]:
funct(100)

10000

In [19]:
# addition 
def addition(num1,num2):
    cal=num1+num2
    return cal;

In [20]:
addition(2,3)

5

In [21]:
addition(100,500)

600

In [22]:
addition("pw","skills")

'pwskills'

In [23]:
# here two list combinE
addition([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [24]:
addition("skills","pw")

'skillspw'

In [25]:
# but you want to print as pwskills 
addition(num2="skills",num1="pw")

'pwskills'

In [26]:
# sum of three numbers
def addition(num1,num2,num3):
    cal=num1+num2+num3
    return cal

In [12]:
addition(1,2,3)

6

In [15]:
# default argument 
def addition(num1,num2,num3=0):    # here num3 is default argument ,default argument sitted at the last position ,otherwise it throws error 
    cal=num1+num2+num3
    return cal;

In [17]:
addition(5,6) # by default num3 =0 added

11

In [27]:
# three are default argument
def addition(num1=0,num2=0,num3=0):
    cal=num1+num2+num3
    return cal;

In [28]:
addition(1)

1

In [29]:
# you can also put default argument value as anything
def addition(num1=10,num2=0,num3=0):    # herer we put num1=10 
    cal=num1+num2+num3
    return cal;

In [30]:
addition()

10

In [31]:
# if you write like as addition(12),means argument in any value then this case num1=10 is replace by 12 and ans is 12
addition(12)

12

In [35]:
# but if we remove this type of problem then 
addition(num2=111) # here ans is 111+10

121

In [37]:
# add by using user input 
def addition():
    a=int(input("enter the first number"))
    b=int(input("enter the second number"))     
    cal=a+b
    return cal;

In [38]:
addition()

enter the first number 12
enter the second number 12

24

In [40]:
# write a function that takes list as a input and return all neumaric values 
def print_only_neumaric(a):
    n=[]
    for i in a:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [41]:
print_only_neumaric([1,2,3.3,4.4,"ajay",True,3+4j])

[1, 2, 3.3, 4.4]

In [7]:
# input as nested list 
def print_only_neumaric(a):
    n=[]
    for i in a:
        if type(i)==list:
             for j in i:
                 if type(j)==int or type(j)==float:
                     n.append(j)
        else:
            if type(i)==int or type(i)==float:
                n.append(i)
    return n

In [8]:
print_only_neumaric([12,13,1.5,"pw",[1,2,3.33,"skills"]])

[12, 13, 1.5, 1, 2, 3.33]

In [9]:
# write a function that takes list as a input and return all string  values 
def fun(a):
    n=[]
    for i in a:
        if type(i)==str:
            n.append(i)
    return n;

In [10]:
fun([1,2,3,"pw",1.1,"skills","niki"])

['pw', 'skills', 'niki']

In [12]:
# input as nested list  and output all string that are present in the list
def fun(a):
    n=[]
    for i in a:
        if type(i)==list:
            for j in i:
                if type(j)==str:
                    n.append(j)
        else:
            if type(i)==str:
                n.append(i)
    return n;

In [13]:
fun([12,13,1.5,"pw",[1,2,3.33,"skills"]])

['pw', 'skills']

In [14]:
# when you do no know that what is the no of arguments inside the function then syntax
# def fun(*args):
# ex
def fun(*args):
    return args

In [16]:
fun(1,2,3,4,5,6,67,78,8,9,)

(1, 2, 3, 4, 5, 6, 67, 78, 8, 9)

In [17]:
# addition through this process
def sum1(*args):
    s=0
    for i in args:
        s=s+i
    return s

In [19]:
sum1(1,2,3,4,5,6,7,8,9)

45

In [20]:
# variable argument ->> takes any no of argument
# positional argument->> fixed value 
# ex : variable argument with default aggument 
def test(*args,a):
    return args,a

In [21]:
test(1,2,3,4,a="pw")

((1, 2, 3, 4), 'pw')

In [22]:
# write a function that can take any no of value but return the list
def return_list(*args):
    l=[]
    for i in args:
        l.append(i)
    return l

In [23]:
return_list(1,2,3,4)

[1, 2, 3, 4]

In [24]:
# write a function that can take many data structure and values  but return the list
def return_list(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [25]:
return_list(1,2,{22,2.3,"pw"},(12,True,"skills"),["niki","niki","niki"])

[['niki', 'niki', 'niki']]

In [26]:
# ex
def test1(*args,**args1):
    return args,args1

In [27]:
test1(1,2,3,4,a="pw",b=100)

((1, 2, 3, 4), {'a': 'pw', 'b': 100})

In [28]:
# python namespace
def fun():
    message="hello,welcome!"  # here message variable is local variable you cannot call outside the function 
    print(message)

In [29]:
fun()

hello,welcome!

In [30]:
# but here if you call message the errors occurs
print(message)

NameError: name 'message' is not defined

In [31]:
# global var
subpart="to the course" # global var 
def fun():
    message="hello,welcome!" + subpart  # here message variable is local variable you cannot call outside the function 
    print(message)

In [32]:
fun()

hello,welcome!to the course

In [34]:
print(subpart)

to the course

In [35]:
# namespace ->>scope of variable 
# global variable:variables that are declared outside of a function are known as global variables. You can access global variables in Python both inside and outside the function.
# local variable: those variables that are declared inside the function. Alternatively, they are said to defined within a local scope. A user can only access a local variable inside the function but never outside it.

In [48]:
# function  
def function1(**kwargs):
    sub_marks=[]
    for sub,marks in kwargs.items():
        sub_marks.append(marks)
    return sub_marks

In [49]:
function1(a=90, b=20)

[90, 20]

In [52]:
# fuction inside function 
def function1(**kwargs):
    def total_marks(sub_marks):
        return sum(sub_marks)
    sub_marks=[]
    for sub,marks in kwargs.items():
        sub_marks.append(marks)
    return total_marks(sub_marks)

In [53]:
function1(a=90,b=20)

110

In [54]:
# calling from outside
def total_marks(sub_marks):
    return sum(sub_marks)    # this is global function 
    
def function1(**kwargs):
    sub_marks=[]
    for sub,marks in kwargs.items():
        sub_marks.append(marks)
    return total_marks(sub_marks)

In [55]:
function1(a=90,b=20,c=100,d=100)

310

In [56]:
# find power
import math as m
def function2(num,pow):
    """ at first line we import the math library 
    then define a function with positional arguments num and pow 
    then declare a variable ans and calculate the power with predefine function pow 
    """
    ans=m.pow(num,pow)
    return ans

In [57]:
function2(2,5)

32.0

In [63]:
help(function2)

Help on function function2 in module __main__:

function2(num, pow)